.Audio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    @mixin displayInRow(){
        display: flex;
        flex-direction: row; 
    }
   .AudioPlayer{
        margin: auto;
        width: 60%;
        height: 100%;
        padding: 20px;
        background-image: linear-gradient(to right,#4287f5, #42f59e);
        .DisplyTime{
          @include displayInRow();
          justify-content: space-around;
        }
        .Controls{
            @include displayInRow();
            justify-content: center;
            padding: 20px;
            .Button{
                background: transparent;
                border: none;
                padding-left: 20px;
                &:focus{
                    outline: none;
                }
                .Icon {
                    font-size: 20px;
                }
                .fade {
                    animation: fade-in-keyframes 0.5s ease-in;
                  }
                  @keyframes fade-in-keyframes {
                    from {opacity: 0}
                    to {opacity: 1}
                  }

            }
        }
    }
    


}